<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.sidebar.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
        <script type="application/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                DATTO
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('products') }}">Products</a>
                        </li>
                        <li>
                            <a href="{{ path('random_number', {'max': '1000'}) }}">Random Numbers!</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
