{# app/Resources/views/products/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - New Product
{% endblock %}
{% block body %}
    <h1>Create Product</h1>
    <div class="col-md-6">
        {{ form_start(productForm) }}
            {{ form_row(productForm.name) }}
            {{ form_row(productForm.description) }}
            {{ form_row(productForm.price, {
                label: 'Product Price',
                help: 'matts cool helper'

            }) }}
            <button type="submit" class="btn" formnovalidate>Create Product</button>
        {{ form_end(productForm) }}
    </div>
{% endblock %}
